//color
$main-color: #f7600e;
$text-color:#3b434c;
$white-color:#fff;

//media var
//xlg
$min_xlg: "all and (min-width: 1201px)";
$max_xlg: "all and (max-width: 1200px)";
//lg
$min_lg: "all and (min-width: 993px)";
$max_lg: "all and (max-width: 992px)";
//mid
$min_mid: "all and (min-width: 769px)";
$max_mid: "all and (max-width: 768px)";
//sm
$min_sm: "all and (min-width: 576px)";
$max_sm: "all and (max-width: 575px)";

//var for left and right in css
$left:left;
$right:right;
//change dir lang auto
@if ($dir == rtl)
{
	$left:right;
	$right:left;
}
