.contact
{
	position: relative;
	background: url("https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801_960_720.jpg") no-repeat;
    background-size: cover;
	overflow: hidden;
	text-align: center;
	&:before
	{
		content:"";
		display:block;
		background-color:rgba($text-color,0.8);
		position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	}
	.container
	{
		position: relative;
		color:$white-color;
	}
	.list-inline
	{
		text-align: right;
		a 
		{
			display: inline-block;
		    width: 30px;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 50%;
		    color: $white-color;
		    text-align: center;
		    &[aria-label="facebook"]
	    	{
				background-color: #007bff;
	    	}
	    	&[aria-label="twitter"]
	    	{
				background-color: #00d4ff;
	    	}
	    	&[aria-label="google-plus"]
	    	{
				background-color: #dc3545;
	    	}
	    	&[aria-label="behance"]
	    	{
				background-color: #00d4ff;
	    	}
	    	&[aria-label="linkedin"]
	    	{
				background-color: #007bff;
	    	}
		}
	}
}